/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  font-family: "Roboto Mono", sans-serif;
}

.home-body{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-iconos{
  width: 100%;
  padding: 0;
  background-color: #e6162e;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.nav-iconos{
  margin: 0.625rem; /*PARA NO USAR PX, PASAMOS A REM DIVIDIENDO EL VALOR XX EN PX / 16*/ 
}

.nav-iconos i{
  color: #fff;
  font-size: 1.875rem;
  margin: 0 0.625rem;
}

.nav-iconos i:hover{
  color: #757575;
}

.header-index{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.625rem 1.875rem;
}
.header-index-mi_blog img{
  width: 15,625rem;

}

.header-index-link a{
  text-decoration: underline;
  color: black;
}

.main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url(../img/cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-contenido{
  grid-column: 2;
  justify-content: center; 
  text-align: center;
  color: #fff;
  margin-top: 0.625rem;
  height: 31.25rem; 
  
}

.main-contenido p{
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.625rem;
  margin-bottom: 1.875rem;
}

.main-contenido_btn{
  background-color: #e6162e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  height: 3.125rem;
  width: 15.625rem;
  border-radius: 0.312rem;
  margin-top: 3.125rem;
}

.main-contenido_btn:hover{
  background-color: #fff;
  color: #e6162e;
  cursor: pointer;
}

/* SECCIÓN BLOGS */

.cont-noticias{
  width: 100%;
  background-color: #e6e9ed;

}

.cont-noticias_principal{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-noticias_img img{
  width: 31.25rem;
}

.cont-noticias_text{
  width: 25rem;
}
.cont-noticias_text h1{
  margin-bottom: 2rem;
}
.cont-noticias_text a{
  margin: 1rem 0rem;
  border: 0.06rem solid #e6162e;
  text-decoration: none;
  padding: .5rem;
}