/*Roboto Slaf 400, 700
  Roboto 400 500 700 900
  Roboto Mono 400 500 700
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: "Roboto Mono", sans-serif;

}

/* .home-body{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
  
}*/

.header-iconos{
  width: 100%;
  padding: 0;
  background-color: #e6162e;
  display: inline-block;
  justify-content:end; 
  align-items: center;
  /* min-width: 280px; */
}

.nav-iconos{
  margin: 0.625rem; /*PARA NO USAR PX, PASAMOS A REM DIVIDIENDO EL VALOR XX EN PX / 16*/ 
  display: inline-block;
}

.nav-iconos  i{
  color: #fff;
  font-size: 1.875rem;
  margin: 0 0.625rem;
}

.nav-iconos i:hover{
  color: #757575;
}

.header-index{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.625rem 1.875rem;
}
.header-index-mi_blog img{
  width: 15,625rem;

}

.header-index-link a{
  text-decoration: underline;
  color: black;
}

.main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url(../img/cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-contenido{
  grid-column: 2;
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  height: 31.25rem; 
  
}

.main-contenido p{
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.625rem;
  margin: 5rem 0rem;
}

.main-contenido_btn{
  background-color: #e6162e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3.125rem;
  padding: .5rem;

}

.main-contenido_btn:hover{
  background-color: #fff;
  color: #e6162e;
  cursor: pointer;
}

/* SECCIÓN BLOGS */

.cont-noticias{
  width: 100%;
  background-color: #e6e9ed;

}

.cont-noticias_principal{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.cont-noticias_img img{
  width: 31.25rem;
  margin: 0.6rem 0 2rem ;
}

.cont-noticias_text{
  width: 25rem;
}
.cont-noticias_text h1, .cont-noticias_text p{
  margin-bottom: 2rem;
}

.cont-noticias_btn{
  margin: 1rem 0rem;
  border: 0.06rem solid #e6162e;
  text-decoration: none;
  padding: .5rem;
  color: #000;
}


.cont-articulos{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.cont-articulos h2{
  margin: 0.312rem 4rem;
  border-bottom: 1px solid #000;
  padding-bottom: 00.512rem;
}

.cont-posts{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18.75rem,1fr));
  gap: 1.5rem;
  padding: 1rem 4rem 3rem;
}

.post p, .post h4{
  margin: 1.5rem 0;
}
.post img{
  width: 100%;
}
  
footer{
  background-color: #22272d;
  border-top: 1.5rem solid #e6162e;
  color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BLOG*/

.blog-imagen{
  width: 100%;

}
.blog-imagen img{
  display: inline-block;
  width: 100%;
  padding: 0 3rem 1rem;
}

.blog-noticias{
  margin: 5rem auto 1rem;
  padding: 0 4rem;
}
.blog-noticias h4{
  padding-bottom: 1rem;
}
.blog-noticias h1{
  border-top: 0.0612rem solid #22272d;
  padding: 1rem 0;
}

.blog-fondo{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18.75rem,1fr));
  gap: 1.5rem;
  background-color: #b8b8b8;
}
.blog-fondo_cont{
  padding: 3rem;
  display: flex;
  gap: 1rem ;
}
.blog-fondo_cont img{
  width: 70%;
} 

.blog-fondo-cont_texto{
  display: grid;
  grid-template-rows: auto 1fr;
}
.blog-fondo-cont_texto a{
  text-decoration: underline;
  margin-bottom: 1rem;
  color: #000;
}

/*SOBRE MÍ*/

.blog-imagen{
  width: 100%;
  display: inline-flex;
  background-color: #dadada;
  padding: 2rem 3rem;
}

.blog-imagen img{
  padding: 0 1.5rem;
}

.profile-proyectos{
  width: 100%;
  padding: 0 5rem 2.5rem;
}

.profile-proyectos h3{
  padding: 1.25rem auto;
  border-bottom:  0.0212rem solid #757575;
  text-align: center;
}

.profile-proyecto{ 
  display: inline-block;
  padding:  1.5rem;
  max-width: 32%;
}
.profile-proyecto h4{
  margin: 1.5rem 0;
}
.profile-proyecto p{
  margin: .5rem 0;
}


